* {
  margin: 0;
  box-sizing: border-box;
}
.heading {
  color: rgb(0, 43, 184);
}

@keyframes changecolor {
  from {
    color: rgb(0, 138, 252);
    margin-left: 50px;
  }
  to {
    color: rgb(0, 0, 156);
    margin-left: 500px;
  }
}

body {
  background: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 500px;
}

.box1 {
  width: 200px;
  height: 200px;
  margin: 500px;
  background-color: #ffffff;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  animation-name: spinbox;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes spinbox {
  0% {
  }
  50% {
    scale: 2;
    border-radius: 50%;
    transform: rotate(360deg);
  }
}

.reeducate {
  font-size: 30px;
  color: #000000;
}

.laptop1 {
  width: 200px;
  position: absolute;
  animation-name: laptopscale;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes laptopscale {
  0% {
    left: -200px;
    top: 400px;
  }

  100% {
    left: 600px;
    top: 800px;
    scale: 2;
  }
}

.mobile {
  width: 300px;
  position: absolute;
  animation-name: mobilescale;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes mobilescale {
  0% {
    left: -600px;
  }

  100% {
    left: 400px;
    top: 200px;
    scale: 2;
  }
}

.chess {
  width: 400px;
  position: absolute;
  animation-name: chessdslide;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  left: -500px;
  top: 0px;
}

@keyframes chesslide {
  0% {
  }

  100% {
    left: 100%;
  }
}

.dont {
  color: white;
  position: absolute;
  left: -500px;
  animation-name: dontslide;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes dontslide {
  0% {
  }
  100% {
    left: 100%;
  }
}
